/* dialog css */

body {
  font-family: "lato", Helvetica, sans-serif;
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
  background-color: rgba(250,250,235,1);
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: #337AB7;
}

.header,
.marketing,
.calendar,
.footer {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  background: -webkit-linear-gradient(rgba(250,250,235,1), rgba(250,250,235,0.99), rgba(250,250,235,0.9));
  background: -moz-linear-gradient(rgba(250,250,235,1), rgba(250,250,235,0.99), rgba(250,250,235,0.9));
  background: -o-linear-gradient(rgba(250,250,235,1), rgba(250,250,235,0.99), rgba(250,250,235,0.9));
  background: linear-gradient(rgba(250,250,235,1), rgba(250,250,235,0.99), rgba(250,250,235,0.9));
  font-family: "quicksand";
  font-weight: 300;
  padding-bottom: 20px;
}

.header h3 {
  font-size: 2.5em;
  font-weight: 400;
}

.broadway {
  text-align: center;
  padding-top: 150px;
  margin-bottom: 50px;
}

.broadway h1 {
  font-family: "lato";
  font-size: 3em;
  font-weight: 100;
}

.marketing {
  font-family: "lato";
  font-weight: 300;
}

.marketing h2 {
  font-family: "quicksand";
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 15px;
}

.marketing h3 {
  font-weight: 400;
}

.marketing p {
  padding-bottom: 20px;
}

.calendar {
  padding-top: 20px;
  padding-left: 10px;
}

.calendar h3 {
  font-weight: 400;
  padding-bottom: 10px;
}

.calendar h4 {
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
}

.footer {
  font-family: "lato";
  font-size: .75em;
  font-weight: 300;
  padding-top: 50px;
}

.copyright {
  font-size: 0.80em;
}

.ghost-link {
  color: inherit;
}

.ghots-link:hover {
  color: #1C1C41;
}

.fluid-media {
  position: relative;
  padding-bottom: 60%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.fluid-media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn {
  padding: 12px 22px;
  border: 2px solid #555;
  border-radius: 2px;
  font-family: "quicksand";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #555;
}

.btn-location {
  margin-bottom: 10px;
}

.btn-location:hover,
.btn-location:focus,
.btn-location:active,
.btn-cta:hover,
.btn-cta:focus,
.btn-cta:active {
  color: #888;
  border-color: #888;
}

.location-buttons {
  padding-top: 25px;
}


/* narrow bs container */
@media (min-width: 768px) {
  .container {
    max-width: 800px;
    /*background-color: rgba(125,125,125,0.5);*/
  }

  body {
    font-size: 20px;
  }

  .broadway h1 {
    font-size: 4em;
  }

  .btn-location,
  .btn-cta {
    font-size: 1.25em;
  }
}
